body {
  margin: 0;
  padding: 0;
}

.home {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.home .header .title {
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25;
}

.home .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .content .section-one {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 400px;
}

.home .content .section-one .map {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #050e1e;
}

.home .content .section-one .search-bar {
  text-align: center;
}

.home .content .section-two {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.home .content .section-two .statistics {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.home .content .section-two .statistics .country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #3b3b3b;
  margin: 15px;
  border-radius: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.home .content .section-two .statistics .country .country-title {
  font-size: 20px;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 15px;
}

.home .content .section-two .statistics .country .country-updated {
  font-size: 13px;
  color: grey;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home .content .section-two .statistics .country .country-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .content .section-two .statistics .country .country-row .country-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 40px;
}

.home .content .section-two .statistics .country .country-row .country-col div {
  font-size: 13px;
  color: grey;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home .content .section-two .statistics .country .country-row .country-col .country-total {
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.home .content .section-two .statistics .country .country-row .country-col .country-reported {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home .content .section-two .statistics .country .country-row .country-col .country-reported .country-new-confirmed {
  color: grey;
  font-size: 13px;
  font-weight: bold;
}

.home .content .section-two .statistics .cases {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #3b3b3b;
  margin: 15px;
  border-radius: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.home .content .section-two .statistics .cases .cases-title {
  font-size: 20px;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 15px;
}

.home .content .section-two .statistics .cases .cases-table {
  border-collapse: collapse;
}

.home .content .section-two .statistics .cases .cases-table thead tr {
  border-bottom: 1px solid grey;
  text-align: left;
}

.home .content .section-two .statistics .cases .cases-table thead th {
  font-weight: normal;
  font-size: 13px;
  padding: 5px;
  color: grey;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home .content .section-two .statistics .cases .cases-table tbody tr {
  border-bottom: 1px solid grey;
}

.home .content .section-two .statistics .cases .cases-table tbody td {
  padding: 5px;
  font-weight: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home .content .section-two .news {
  width: 350px;
  background-color: blue;
}
/*# sourceMappingURL=styles.css.map */